Repository patzsl/heroes-explorer: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, npx prettier --write, ng lint --fix

feat: add pre-commit hook
  .husky/pre-commit
Due: none

fix: update scripts
  .github/workflows/deploy.yml
  .lintstagedrc
  eslint.config.js
  package.json
Due: npx prettier --write, ng lint --fix

ci: update deployment pipeline configuration
  .github/workflows/deploy.yml
Due: none

feat(deploy): trigger production deployment on merge to main
  .github/workflows/deploy.yml
Due: none

feat: add pre-loading component with animations and styles
  public/assets/bg.png
  src/app/features/pre-loading/pre-loading.component.scss
  src/app/features/pre-loading/pre-loading.component.spec.ts
  src/app/features/pre-loading/pre-loading.component.ts
Due: stylelint --fix, npx prettier --write, ng lint --fix

feat: Implement route animations and update app structure
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.config.ts
  src/app/app.routes.ts
  src/styles.scss
Due: stylelint --fix, npx prettier --write, ng lint --fix

test: update pre-loading component tests
  src/app/features/pre-loading/pre-loading.component.spec.ts
Due: npx prettier --write, ng lint --fix

feat: add characters route and header component with styles
  src/app/app.routes.ts
  src/app/features/header/header.component.scss
  src/app/features/header/header.component.ts
Due: stylelint --fix, npx prettier --write, ng lint --fix

feat: install ng-bootstrap for UI components
  angular.json
  package-lock.json
  package.json
  src/main.ts
  src/styles.scss
  tsconfig.app.json
Due: stylelint --fix, npx prettier --write, ng lint --fix

feat: add hero card component and related models
  src/app/shared/components/hero-card.component.ts
  src/app/shared/models/hero.ts
  src/mocks/hero.mock.ts
  tsconfig.json
Due: npx prettier --write, ng lint --fix

feat(header): add hero cards to header component style(pre-loading): add visibility control for loading animation
  src/app/features/header/header.component.ts
  src/app/features/pre-loading/pre-loading.component.scss
Due: stylelint --fix, npx prettier --write, ng lint --fix

feat(header): add title directive and update header styles
  src/app/features/header/header.component.scss
  src/app/features/header/header.component.ts
  src/app/shared/directives/title.directive.ts
  src/styles.scss
Due: stylelint --fix, npx prettier --write, ng lint --fix

feat: add color black to button
  src/app/features/pre-loading/pre-loading.component.scss
Due: stylelint --fix, npx prettier --write

feat: trigger deployment job on pull request to main branch
  .github/workflows/deploy.yml
Due: none

fix: trigger deployment job on pull request to main branch
  .github/workflows/deploy.yml
Due: none

feat: add environment configuration and HTTP client support
  .gitignore
  angular.json
  environment.example.ts
  src/app/app.config.ts
Due: npx prettier --write, ng lint --fix

feat: Implement favorite hero functionality and improve hero list
  src/app/app.component.ts
  src/app/core/services/favorite-hero.service.ts
  src/app/core/services/marvel.service.ts
  src/app/features/header/header.component.ts
  src/app/features/heroes-list/heroes-list.component.ts
  src/app/shared/components/hero-card.component.ts
  src/app/shared/directives/title.directive.ts
  tsconfig.json
Due: npx prettier --write, ng lint --fix

ci: add environment file generation to build workflow
  .github/server.js
  .github/workflows/build.yml
Due: npx prettier --write, ng lint --fix

fix: correct path to server.js in build workflow
  .github/workflows/build.yml
Due: none

refactor: update environment file handling and add logging
  .github/server.js
Due: npx prettier --write, ng lint --fix

feat(ci): add MARVEL_DETAILS environment variable to build workflow
  .github/workflows/build.yml
Due: none

refactor: remove sensitive console logs
  .github/server.js
Due: npx prettier --write, ng lint --fix

ci: add environment file generation step to deploy workflow
  .github/workflows/deploy.yml
Due: none

feat: add FavoriteHeroComponent and StorageService
  src/app/app.component.ts
  src/app/core/services/favorite-hero.service.ts
  src/app/core/services/marvel.service.ts
  src/app/core/services/storage.service.ts
  src/app/shared/components/favorite-hero.component.ts
Due: npx prettier --write, ng lint --fix

ci: add test job and update checkout action to v3 in deploy workflow
  .github/workflows/deploy.yml
  jest.config.js
Due: npx prettier --write, ng lint --fix

ci: remove build workflow and update deploy workflow
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Due: none

feat(heroes-list): add pagination component to hero list
  src/app/features/heroes-list/heroes-list.component.ts
  src/app/features/pagination.component.ts
Due: npx prettier --write, ng lint --fix

ci: update sonarcloud-scan workflow to generate environment file and adjust test command
  .github/workflows/sonarcloud-scan.yml
Due: none

feat(heroes-list): add search component to filter heroes
  src/app/features/heroes-list/heroes-list.component.ts
  src/app/features/search.component.ts
Due: npx prettier --write, ng lint --fix

refactor: update routes and components for better structure and remove unused code
  src/app/app.routes.ts
  src/app/features/header/header.component.ts
  src/app/features/heroes-list/heroes-list.component.ts
  src/app/pages/home.component.ts
  src/app/shared/components/favorite-hero.component.ts
Due: npx prettier --write, ng lint --fix

feat: add TitleDirective to home component imports
  src/app/pages/home.component.ts
Due: npx prettier --write, ng lint --fix

docs: update README with project details and future improvements
  README.md
  src/app/features/pagination.component.ts
Due: npx prettier --write, ng lint --fix

test: add unit tests for services and components
  src/app/features/pagination.component.ts
  src/app/features/search.component.ts
  src/app/shared/components/favorite-hero.component.ts
  src/app/shared/components/hero-card.component.ts
  tests/core/services/favorite-hero.service.spec.ts
  tests/core/services/marvel.service.spec.ts
  tests/core/services/storage.service.spec.ts
  tests/features/pre-loading/pre-loading.component.spec.ts
  tests/shared/favorite.component.spec.ts
Due: npx prettier --write, ng lint --fix

feat: add cypress and test
  cypress.config.ts
  cypress/fixtures/example.json
  cypress/home.cy.ts
  cypress/support/commands.ts
  cypress/support/component-index.html
  cypress/support/component.ts
  package-lock.json
  package.json
Due: npx prettier --write, ng lint --fix

Path conditions:
  stylelint --fix: any of: *.scss
  npx prettier --write: (any of: *.scss) or (any of: *.{js,ts,jsx,tsx})
  ng lint --fix: any of: *.{js,ts,jsx,tsx}
